@import "../settings.scss";

.phoneCard {
  &__inner {
    min-height: 31rem;
    max-height: 31rem;
  }

  &__text {
    text-align: start;

    &-model {
      color: black;
      font-size: larger;
      font-weight: 600;
    }

    &-brand {
      font-size: medium;
      font-weight: 400;
      color: $deep-space;
    }

    &-price {
      font-size: medium;
      color: $deep-space;
      font-size: small;
    }
  }
}

.card.phoneCard__inner {
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

  &:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
    transform: scale3d(1.01, 1.01, 1.01);
  }
}
